# Pandas and Connecting to Database

+ A lot of this lecture's materials is created by [Shuyi Yin](https://syin3.github.io/teaching/uw/cee412-cet522-2022/index.html)

# Pandas basics

### Pandas the module
+ probably the most important module dealing with tabular data in Python
+ can trace its name back to "panel data", i.e., an econometrics term for datasets that include observations over multiple time periods for the same individuals
+ got its name directly from "Python data analysis"
+ initially released in 2008 by Wes McKinney, who was working for AQR Capital Management, out of the need for a high performance, flexible tool to perform quantitative analysis on financial data

### some concepts and features
+ "Series"
    - a Series is a column in a table or spreadsheet with the same data type. Each Series has an index used to indicate the axis labels.
+ "DataFrame"
    - a data structure that organizes data into a 2-dimensional table of rows and columns, much like a spreadsheet.
    - every DataFrame contains a schema that defines the name and data type of each column.
    - more officially... **two-dimensional**, **size-mutable**, **potentially heterogeneous** tabular data. Data structure also contains labeled axes (rows and columns).

+ more than SQL 
    - everything SQL can do
    - reads files in various formats, e.g., CSV, JSON, SQL database, Excel, text file
    - indexing
        - Hierarchical axis indexing
    - potentially heterogeneous data
        - e.g., store list in a cell

In [ ]:
# you can manage packages in a Jupyter cell instead of in Anaconda

# !conda install pandas

In [1]:
import pandas as pd

### Pandas Series

In [ ]:
sample_series = pd.Series(['some', 'array', 'object'], index=list('abc'))

sample_series

In [ ]:
# positional indexing: this returns the first value, which is 'some'
sample_series[0]

In [ ]:
# label indexing: this also returns the first value 'some'
sample_series['a']

### create dataframes

In [ ]:
# create data
data = pd.DataFrame({'customer_id': [1,2,3,4,5,6,7,8], 
                     'age': [29,43,22,82,41,33,63,57], 
                     'email_linked': [True,True,False,True,False,False,True,True],
                     'occupation': ['teacher','highschool teacher','student','retired',
                                    'tutor','unemployed','entrepreneur','professor']})

In [ ]:
data

In [2]:
# read from csv
df = pd.read_csv('hsis-final.csv')

### describe and inspect data

In [3]:
df.head(5)

,REPORT,ACCTYPE,TIME,WEEKDAY,RDSURF,LIGHT,weather,deg_curv,pct_grad,AADT,...,SURF_TY2,lanewid,rdwy_wid,FUNC_CLS,sex,young,old,drink,truck,old_car
0,1,33,127,7,2.0,4.0,3,43.74,3.87,23213.0,...,A,13,52,52.0,0,0,0,0,0,1
1,2,33,2115,4,2.0,3.0,2,43.74,0.19,21132.0,...,A,12,48,52.0,1,0,0,0,0,1
2,1,33,1829,2,2.0,1.0,3,17.74,0.19,21132.0,...,A,16,48,52.0,0,1,0,0,0,0
3,2,33,1815,7,1.0,1.0,1,0.93,2.76,21132.0,...,A,18,54,52.0,0,0,0,0,1,0
4,1,33,151,7,1.0,4.0,1,0.93,2.76,21132.0,...,A,18,54,52.0,1,1,0,0,0,0

In [ ]:
df.describe()

In [ ]:
df.isna().head(5)

In [ ]:
df.shape

In [ ]:
df.isna().sum().to_frame().T

In [ ]:
# check duplicated entries
df.duplicated().sum()

In [ ]:
# check duplicates based on two columns
df.duplicated(subset=['REPORT', 'ACCTYPE'])

In [ ]:
# count the number of duplicates
df.duplicated(subset=['REPORT', 'ACCTYPE']).sum()

### data manipulation

In [ ]:
# drop the columns with many missing values entirely
df = df.drop(columns=['MED_TYPE', 'LSHL_TYP', 'LSHL_TY2', 'RSHL_TYP', 'RSHL_TY2', 'SURF_TY2'])

In [ ]:
df.shape

In [ ]:
# then drop missing values
df = df.dropna()

In [ ]:
df.shape

In [ ]:
# cast type of columns
df = df.astype(
    {'WEEKDAY':'int64', 'RDSURF':'int64', 'LIGHT':'int64', 'weather':'int64', 'FUNC_CLS':'int64'})

In [ ]:
# something similar to what you've learned? 

df['WEEKDAY'] = df['WEEKDAY'].apply(lambda x: 1 if x < 6 else 0)

In [ ]:
df['peak-hour'] = df['TIME'].apply(lambda x: 1 if (700 <= x <= 1000) or (1700 <= x <= 2000) else 0)

In [ ]:
# only consider 6 levels of lighting conditions

df = df[df['LIGHT'].isin([1,2,3,4,5,6])]

# aggregate 4,5,6 together

df['LIGHT'] = df['LIGHT'].replace({5:4, 6:4})

In [ ]:
# filter accidents happened on segments with positive AADT

df = df[df['AADT'] > 0]

In [ ]:
# drop time column

df = df.drop(columns=['TIME'])

In [ ]:
df.head()

In [ ]:
df = df.rename(columns={"REPORT": "severity_level"})

In [ ]:
df.head()